$black: #212121;
$gray: #999;
$dark-gray: #333;
$dark-pink: #880E4F;
$pink: #E91E63;
$teal: #009688;
$dark-teal: #128a7e;
$yellow: #ffc107;
$light-gray: #f1f1f1;
$indigo: #3F51B5;
$dark-indigo: #1A237E;

*{
	font-family: cursive;
}

body{
	background: $dark-gray;
}