$black: #212121;
$gray: #999;
$dark-gray: #333;
$gray-2: #dbdbdb;
$dark-pink: #880E4F;
$pink: #E91E63;
$teal: #009688;
$dark-teal: #128a7e;
$yellow: #ffc107;
$light-gray: #f1f1f1;
$indigo: #3F51B5;
$dark-indigo: #1A237E;

.select-box-wrapper{
	
  .select-box{
    display:none;
  }
}

.custom-select-box{
	position: relative;

	.custom-select-box-link, .dropdown-item{
		text-decoration: none;
	}
	
	.custom-select-box-link, .custom-select-box-list{
		width: 100%;
	}

	.custom-select-box-list{
		padding: 0;
		margin: 0;
		display: none;
	}

	.custom-select-box-link{
		background: white;
		color: $black;
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 220px;
		z-index: 1;
		position: relative;
		border: 1px solid $gray-2;
	}

	.custom-select-box-list{
		position: absolute;
		border-bottom: 1px solid $light-gray;
		
		background: white;
		border: 1px solid $light-gray;
		border-top: 0;
		box-shadow: 0px 0 10px -2px rgba(0, 0, 0, 0.2);

		&:last-child{
			border: 0;
		}

		.custom-list-item{
			list-style: none;
			position: relative;
			border-bottom: 1px solid $light-gray;
			transition: 0.2s ease;

//			&:after{
//				content: "";
//				position: absolute;
//				top: 0;
//				right: 0;
//				height: 100%;
//				width: 2px;
//				background-color: $yellow;
//				opacity: 0;
//				transition: 0.2s ease;
//			}

			&:hover{
				background: $light-gray;

//				&::after{
//					opacity: 1;
//				}
			}
			
			&__link{
				display: block;
				padding: 10px 20px;
				padding-right: 40px;
				color: $black;
			}
		}
	}
}