doctype html
html
	head
		title Custom dropdown for select box
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/index.css")
	body

		.container
			.dropdown-container
				.first-dropdown
					.select-box-wrapper#food-list
						//label(for="food-list")

						select
							option
							option Pizza
							option Pasta
							option Burger
							option Samosa
							option Pani Puri

				//.second-dropdown
					.select-box-wrapper#cars-list
						select
							option
							option Hyundai
							option Sonata
							option Honda
							option BMW


				//.third-dropdown
					.select-box-wrapper#country-list
						select
							option
							option Hyundai
							option Sonata
							option Honda
							option BMW

		script(src="js/jquery.js")
		script(src="js/custom-select-box-plugin.js")
		script(src="js/select-box.js")