doctype html
html
	head
		title Custom dropdown for select box
		link(rel="stylesheet" href="css/main.css")
	body

		.container
			.dropdown-container
				.first-dropdown
					.lesbox-wrapper#food-list

						select
							option
							option(data-href="https://www.google.co.in/?gfe_rd=cr&ei=geMzWZn6KOvI8AeU7K6QBA") Pizza
							option(data-href="http://www.facebook.com") Pasta
							option Burger
							option Samosa
							option Pani Puri

				.second-dropdown
					.lesbox-wrapper#cars-list
						select
							option
							option Hyundai
							option Sonata
							option Honda
							option BMW


				.third-dropdown
					.lesbox-wrapper#country-list
						select
							option
							option Hyundai
							option Sonata
							option Honda
							option BMW
							

		include pug/scripts.pug