doctype html
html
	head
		title Custom dropdown for select box
		link(rel="stylesheet" href="css/main.css")
	body

		.container
			.dropdown-container
				.first-dropdown
					.lesbox-wrapper#food-list

						select
							option
							option(data-href="link-to-page.html") Pizza
							option Pasta
							option Burger
							option Samosa
							option Pani Puri

				.second-dropdown
					.lesbox-wrapper#cars-list
						select
							option
							option Hyundai
							option Sonata
							option Honda
							option BMW


				.third-dropdown
					.lesbox-wrapper#country-list
						select
							option
							option Hyundai
							option Sonata
							option Honda
							option BMW
							

		include pug/scripts.pug